In [1]:
%run project_functions.ipynb

Using TensorFlow backend.
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# Yahoo Finance

In [2]:
test = return_over_period_T_API("MSFT", 3);
test

,Date,Open,High,Low,Close,Volume,open_return,high_return,low_return,close_return
0,1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.166667,0.166667,-0.000000,-0.000000
1,1986-03-14,0.06,0.07,0.06,0.06,308160000,-0.000000,-0.142857,-0.000000,-0.000000
2,1986-03-17,0.06,0.07,0.06,0.07,133171200,-0.000000,-0.142857,-0.000000,-0.142857
3,1986-03-18,0.07,0.07,0.06,0.06,67766400,-0.142857,-0.142857,-0.000000,-0.000000
4,1986-03-19,0.06,0.06,0.06,0.06,47894400,-0.000000,-0.000000,-0.000000,-0.000000
...,...,...,...,...,...,...,...,...,...,...
8661,2020-07-23,207.19,210.92,202.15,202.54,67457000,-0.017279,-0.029490,-0.002028,-0.002567
8662,2020-07-24,200.42,202.86,197.51,201.30,39827000,0.010378,0.008824,0.022784,0.013711
8663,2020-07-27,201.47,203.97,200.86,203.85,30160900,-0.002333,0.002402,-0.006422,0.000245
8664,2020-07-28,203.61,204.70,201.74,202.02,23251400,0.003880,0.001954,-0.013532,0.014801
8665,2020-07-29,202.50,204.65,202.01,204.06,19632600,0.044543,0.051356,0.041731,0.051357

# StockTwits

In [4]:
url = "https://stocktwits.p.rapidapi.com/watchlists/show/%7Bid%7D.json"

headers = {
    'authorization': "",
    'x-rapidapi-host': "stocktwits.p.rapidapi.com",
    'x-rapidapi-key': "a0afed0c9dmsh9b18ceadc178e4dp1e5d54jsnf115d5b0e431"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{"response":{"status":401},"errors":[{"message":"Authentication required"}]}